body {
  all: unset;

  background-color: #031927;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
  background-color: #9dd1f1;
  border: 5px dashed #031927;
  padding: 100px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
picture {
  border-radius: 10px;
  border: 5px solid #031927;
  width: 200px;
  height: 200px;
}
img {
  width: 200px;
  height: 200px;
}
